
<div class="col-md-12">
	<div class="box box-widget">
		<div class="widget-user-header">
			<div class="widget-user-image">
				<img class="img-circle" id="bookCoverImage1" height="100" width="100"
					src="" alt="Book Avatar">
			</div>
			<h3 id="bookTitle"></h3>
			<h5 id="bookAutherName"></h5>
		</div>
		<div class="box-footer no-padding">
			<ul class="nav nav-stacked">
				<li><a>Projects <span
						class="pull-right badge bg-blue">31</span></a></li>
			</ul>
		</div>
	</div>
</div>