<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Book Online</title>
	<link rel="stylesheet" href="css/jqx.base.css">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/AdminLTE.min.css">
    <link rel="stylesheet" href="css/skins/_all-skins.min.css">
</head>

<body class="hold-transition skin-blue fixed sidebar-mini">

	<div class="wrapper">
		<header class="main-header">
			<a href="" class="logo"> <span class="logo-lg"><b>Admin</b>LTE</span>
			</a>
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
			<nav class="navbar navbar-static-top">
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li class="dropdown user user-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								src="css/customImages/one.jpg" class="user-image"
								alt="User Image"> <span class="hidden-xs">Alexander
									Pierce</span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header"><img src="css/customImages/one.jpg"
									class="img-circle" alt="User Image">

									<p>
										Alexander Pierce - Web Developer <small>Member since
											Nov. 2012</small>
									</p></li>
								<!-- Menu Body -->
								<li class="user-body">
									<div class="row">
										<div class="col-xs-4 text-center">
											<a href="#">Followers</a>
										</div>
										<div class="col-xs-4 text-center">
											<a href="#">Sales</a>
										</div>
										<div class="col-xs-4 text-center">
											<a href="#">Friends</a>
										</div>
									</div> <!-- /.row -->
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="#" class="btn btn-default btn-flat">Profile</a>
									</div>
									<div class="pull-right">
										<a href="#" class="btn btn-default btn-flat">Sign out</a>
									</div>
								</li>
							</ul></li>
					</ul>
				</div>
			</nav>
		</header>
		<aside class="main-sidebar">
			<section class="sidebar">
				<div class="user-panel">
					<div class="pull-left image">
						<img src="css/customImages/one.jpg" class="img-circle"
							alt="User Image">
					</div>
				</div>
				<form action="" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control"
							placeholder="Search..."> <span class="input-group-btn">
							<button type="submit" name="search" id="search-btn"
								class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
				<ul class="sidebar-menu">
					<li class="header">MAIN NAVIGATION</li>
					<li class="treeview"><a href="#"> <i
							class="fa fa-dashboard"></i> <span>Home</span> <span
							class="pull-right-container"> </span>
					</a></li>
					<li class="treeview"><a href="#books"> <i
							class="fa fa-dashboard"></i> <span>Books</span> <span
							class="pull-right-container"> </span>
					</a></li>
					<li class="treeview"><a href="#newbook"> <i
							class="fa fa-dashboard"></i> <span>Add New</span> <span
							class="pull-right-container"> </span>
					</a></li>
				</ul>
			</section>
		</aside>
		<div class="content-wrapper" style="min-height: 611px;">
			<section class="content-header">
				<h1>
					Single page Application <small>bootstrap rich app ;)</small>
				</h1>
				<ol class="breadcrumb">
					<li class="active">Home</li>
				</ol>
			</section>
			<section class="content">
				<div id="webAppContainer">
					<i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> <span class="">Loading...</span>
				</div>
			</section>
		</div>
		<footer class="main-footer"></footer>
	</div>
	
	<script type="text/javascript" src="/webjars/requirejs/2.3.5/require.min.js" data-main="js/master/main"></script>
	<script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>